body {
  background-color: #f0f4f5;
}

@import "tailwindcss";
@tailwind utilities;

.lesson-block {
  height: 12px;
  flex-grow: 1;
  clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
  border-radius: 3px;
}
